extend base

block content
  span Create new character 
  div #{ message }
  div
    form(action=form_action_url, method='post')
      input(name='name', type='text')
      input(name='bio', type='textarea')
      input(type='submit', value='Create')
