extend base

block content
  if member
    span Welcome, #{ member.username }
    ul
      each campaign in member.campaigns
        li
          a(href='/campaigns/' + campaign.slug) #{ campaign.name }
  else
    a(href="/login") Log In
