extend base

block content
  span Create new member
  div #{ message }
  div
    form(action=form_action_url, method='post')
      input(name='email', type='text')
      input(name='username', type='text')
      input(name='password', type='password')
      input(type='submit', value='Create')
