@import 'settings';

a.button {
  font-size: 30px;
  display: table;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
}

a.button:hover {
  background-color: #FFFFFF;
  color: $primary;
  transition: 0.3s;
}

div.inner-button {
  display: table-cell;
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
