@import 'settings';

a.outer-button {
  font-size: 30px;
  width: 150px;
  height: 60px;
  display: table;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
}

a.outer-button:hover {
  background-color: #FFFFFF;
  color: $primary;
  transition: 0.5s;
}

div.inner-button {
  display: table-cell;
  vertical-align: middle;
}
